{% extends 'dummy.html' %}
{% load static %}
{% block title %}
    <title>Document</title>
{% endblock %}
</head>
<body>
    {% block body_block %}
        <center>
            <h1>registration</h1>
            <!-- <img src="{% static 'images/images.jpg' %}" style="width: 800px"> -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                    {{USFO.as_p}}
                    {{PFO.as_p}}

                <input type="submit">
            </form>
        </center>
    {% endblock %}
</body>
</html>